*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 30px;
}
.inicio{
    background-color: 
    #6EA07C;
    padding: 10px;
}


.nav ul{
    color: #6EA07C;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
}


.li-1{
    background-color: #215732;
    border-radius: 30px;
    width: 80px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar a:visited {
    color: #6EA07C;
  }



.li-2{
    background-color: #215732;
    border-radius: 30px;
    width: 80px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.li-3{
    background-color: #215732;
    border-radius: 30px;
    width: 80px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.presentacion{
    padding: 30px;
    background-color: #6EA07C;
}

.cover-presentacion{
    display: flex;
    flex-direction: row;
    gap: 130px;
    justify-content: center;
}

.titulo-button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titulo-presentacion h1 {
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
    color: #215732;
    width: 100px;
    font-size:xx-large ;
}


.button-presentacion button{
    width: 130px;
    border-radius: 30px;
    height: 35px;
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
    color: #6EA07C;
    background-color: #215732;
    border-color: #215732;
    margin-top: 20px;
    transition: transform 350ms;
    box-shadow: 1px 4px 30px #215732;
}

.button-presentacion button:hover{
    box-shadow: -5px 10px 1px  black;
    transform: translate(10px, -10px);
} 

.presentacion-img img{
    border-radius: 60px;
}

/* ------- */
.cover-animales{
    display: flex;
    flex-direction: row;
    background-color: #6EA07C;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
}

.cover-aves {
    width: 300px;
    background-color: #6EA07C;
}


.img-ave img {
    width: 200px;
    height: 200px;
    border-radius: 99px;
    margin-bottom: 10px;
}


.img-ave{
    display: flex;
    justify-content: center;
}

.info-aves p {
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
    color: #215732;
    width: 250px;
}

.info-aves{
    display: flex;
    justify-content: center;
}

.button-ave button{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background-color: #215732;
    color: #6EA07C;
    border-color: #215732;
    margin-top: 20px;
    transition: transform 350ms;
    box-shadow: 1px 4px 30px #215732;
}


 .button-ave button:hover {
    box-shadow: -5px 10px 1px  black;
    transform: translate(10px, -10px);
}
.button-ave {
    display: flex;
    justify-content: center;
}



.cover-felinos {
    width: 300px;
    background-color: #6EA07C;
}

.img-felinos img {
    width: 200px;
    height: 200px;
    border-radius: 99px;
    margin-bottom: 10px;
}

.img-felinos{
    display: flex;
    justify-content: center;
}

.info-felinos p {
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
    color: #215732;
    width: 250px;
}

.info-felinos{
    display: flex;
    justify-content: center;
}

.button-felinos button{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background-color: #215732;
    color: #6EA07C;
    margin-top: 40px;
    box-shadow: 1px 4px 30px #215732;
    border-color: #215732;
    transition: transform 350ms;
}

.button-felinos button:hover {
    box-shadow: -5px 10px 1px  black;
    transform: translate(10px, -10px);
}

.button-felinos {
    display: flex;
    justify-content: center;
}



.cover-peces {
    width: 300px;
    background-color: #6EA07C;
}

.img-peces img {
    width: 200px;
    height: 200px;
    border-radius: 99px;
    margin-bottom: 10px;
}

.img-peces{
    display: flex;
    justify-content: center;
}

.info-peces p {
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
    color: #215732;
    width: 250px;
}

.info-peces{
    display: flex;
    justify-content: center;
}

.button-peces button{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background-color: #215732;
    color: #6EA07C;
    margin-top: 20px;
    border-color: #215732;
    box-shadow: 1px 4px 30px #215732;
    transition: transform 350ms;
}

.button-peces button:hover {
    box-shadow: -5px 10px 1px  black;
    transform: translate(10px, -10px);
}

.button-peces {
    display: flex;
    justify-content: center;
}
/* ........ */

.banner-tickets{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.banner-tickets {
    background: url(./img/banner.png);
    height: 300px;
}

.banner-tickets h2 {
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
    color: white;
    margin-bottom: 20px;
}

.button-tickets {
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
    width: 180px;
    height: 50px;
    border-radius: 30px;
    background-color: #215732;
    color: #6EA07C;
    box-shadow: 1px 4px 30px #215732;
    transition: transform 350ms;
}

.button-tickets:hover {
    box-shadow: -5px 10px 1px  black;
    transform: translate(10px, -10px);
}

/* ------ */

.cover-pases {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    padding: 30px;
    flex-wrap: wrap;
}

/* pase 1 */

.tickets{
    background-color: #6EA07C;
}

.pase-1{
    width: 350px;
}

.titulo-pase-1 h2{
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
    color: #215732;
    margin-bottom: 10px;
}

.titulo-pase-1{
    display: flex;
    justify-content: center;
}

.contenido-pase-1 p{
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
    color: #215732;
}

.contenido-pase-1 {
    display: flex;
    justify-content: center;
}

.boton-pase-1 {
    display: flex;
    justify-content: center;
}

.boton-pase-1 button{
    width: 130px;
    height: 35px;
    border-radius: 30px;
    background-color: #215732;
    color: #6EA07C;
    border-color: #215732;
    margin-top: 50px;
    box-shadow: 1px 4px 30px #215732;
    transition: transform 350ms;
}

.boton-pase-1 button:hover {
    box-shadow: -5px 10px 1px  black;
    transform: translate(10px, -10px);
}


/* pase 2 */

.pase-2{
    width: 350px;
}

.titulo-pase-2 h2{
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
    color: #215732;
    margin-bottom: 10px;
}

.titulo-pase-2{
    display: flex;
    justify-content: center;
}

.contenido-pase-2 p{
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
    color: #215732;
}

.contenido-pase-2 {
    display: flex;
    justify-content: center;
}

.boton-pase-2 {
    display: flex;
    justify-content: center;
}

.boton-pase-2 button{
    width: 130px;
    height: 35px;
    border-radius: 30px;
    background-color: #215732;
    color: #6EA07C;
    border-color: #215732;
    margin-top: 10px;
    box-shadow: 1px 4px 30px #215732;
    transition: transform 350ms;
}

.boton-pase-2 button:hover {
    box-shadow: -5px 10px 1px  black;
    transform: translate(10px, -10px);
}

/* ......... */

.titulo-mapa{
    background-color: #6EA07C;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.titulo-mapa h1 {
    color: #215732;
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;  
}


.img-mapa {
    display: flex;
    justify-content: center;
    background-color: #6EA07C;
}

.img-mapa img{
    width: 800px;
    height: 700px;
    border: 10px solid #215732 ;
    border-radius: 30px;
    box-shadow: 5px 5px 4px black;
}

/* ..... */

.h2-partes-parque{
    padding: 20px;
    background-color: #6EA07C;
    display: flex;
    justify-content: center;
    color: #215732;
}

.h2-partes-parque h2 {
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;  
}

.cover-partes-parques{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #6EA07C;
    justify-content: center;
}


.cover-seccion-felinos{
    width: 350px;
}

.titulo-seccion-felinos h4{
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;  
    color: #215732;
}

.titulo-seccion-felinos{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.img-seccion-felinos img {
    width: 350px;
    border-radius: 30px;
    width: 340px;
    border: 10px solid #215732 ;
    transition: transform 350ms;
}

.img-seccion-felinos img:hover{
    transform: scale(1.10);
}




.cover-seccion-aves{
    width: 350px;
}

.titulo-seccion-aves h4{
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;  
    color: #215732;
}

.titulo-seccion-aves{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.img-seccion-aves img {
    width: 350px;
    border-radius: 30px;
    height: 240px;
    border: 10px solid #215732 ;
    transition: transform 350ms;
}

.img-seccion-aves img:hover{
    transform: scale(1.10);
}




.cover-seccion-acuario{
    width: 350px;
}

.titulo-seccion-acuario h4{
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;  
    color: #215732;
}

.titulo-seccion-acuario{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.img-seccion-acuario img {
    width: 350px;
    border-radius: 30px;
}
/* ------- */
.localizacion{
    background-color: #6EA07C;
}

.h1-ubicacion {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.h1-ubicacion h1{
    color: #215732;
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;  
}

.ubicacion{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.ubicacion iframe{
    border: 10px solid #215732;
    border-radius: 30px;
    box-shadow: 5px 5px 4px black;
}

/* ------ */

    footer{
        padding: 30px;
        background-color: #215732;
        height: 200px;
    }
    
    footer a:visited {
        color: white;
      }
      
    .cover-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .logo-footer img{
    width: 400px;
    }
    
    .redes-footer {
       color: #6EA07C;
       font-family: 'Martian Mono', monospace;
       font-family: 'Montserrat', sans-serif;
       font-family: 'Mukta', sans-serif;
       font-family: 'Playfair Display', serif;  
    }
    
    .contacto-footer p{
        color: #6EA07C;
        font-family: 'Martian Mono', monospace;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Mukta', sans-serif;
        font-family: 'Playfair Display', serif;  
        
    }
    

    /* -------- */
    @media screen and (max-width: 875px) {
        .img-mapa img {
            width: 500px;
            height: 500px;
        }
     }

    @media screen and (max-width: 660px) {
        .cover-footer {
            display: flex;
            flex-direction: column;
        }
    
        footer{
            height: 320px;
        }

        .cover-footer img {
            width: 350px;
        }

        .cover-img-h1 {
            display: flex;
            flex-direction: column;
        }
     }

     @media screen and (max-width: 570px) {
        .img-mapa img {
            width: 400px;
            height: 400px;
        }
     }

     @media screen and (max-width: 470px) {
        .img-mapa img {
            width: 350px;
            height: 350px;
        }

        .cover-img-h1 img {
            width: 350px;
        }
     }

     