
.remera{
    background-color: #6EA07C;
    padding: 40px;
}

.cover-remera-botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    align-items: center;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.remera-img img {
    width: 400px;
    border-radius: 50px;  
    transition: transform 350ms;
}

.remera-img img:hover{
    transform: scale(1.10);
}


.detalles-remera{
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
    color: white;
}

.botones-cover{
    display: flex;
    flex-direction: row;
    gap: 20px;
}



.boton-comprar{
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
}

.boton-comprar button{
    border-radius: 30px;
    width: 150px;
    height: 40px;
    background-color:#215732;
    border: solid 2px #6EA07C;
    color: white;
    transition: transform 350ms;
    box-shadow: 1px 4px 30px #215732;
    border-bottom: #215732;
    border-color: #215732;
    border-right: #215732;
}


 .boton-comprar button:hover {
    box-shadow: -5px 10px 1px  white;
    transform: translate(10px, -10px);
}

.carrito button{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #215732;
    color: white;
    border-bottom: #215732;
    border-color: #215732;
    border-right: #215732;
}

/* descripcion */
.cover-descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6EA07C;
}

.descripcion p{
    color: white;
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
    width: 700px;
}


/* recomendado */
.recomendado{
    background-color: #6EA07C;
    padding: 30px;
}


.cover-h1{
    display: flex;
    justify-content: center;
    
}

.cover-h1 h1{
    color: white;
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Playfair Display', serif;
}

.cover-relacionados{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}


/* responsive */

@media screen and (max-width: 730px) {
    .descripcion p {
        width: 500px;
    }
 }

 @media screen and (max-width: 550px) {
    .descripcion p {
        width: 300px;
    }
 }

 @media screen and (max-width: 460px) {
    .remera-img img {
        width: 300px;
    }
 }
